<header>
    <nav>
        <a href="/">Home page for Login & Register</a>
        <ul>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
        </ul>
    </nav>
</header>